/* General page styling */
body {
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    background-color: #c6d8eb;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Section headings */
h1 {
    font-weight: bold;
    color: rgba(148, 25, 25, 0.822);
    margin-bottom: 1rem;
}

h2 {
    font-weight: bold;
    margin-bottom: 1rem;
}

/* Form styling */
form .form-control {
    max-width: 500px;
}

form .btn {
    margin-top: 10px;
}

/* Image styling */
img {
    border: 2px solid #007bff;
    padding: 5px;
}

/* Skill list styling */
.list-group-item {
    background-color: #f0f8ff;
    border: 1px solid #dee2e6;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 1rem;
    background-color: #343a40;
    color: white;
}
